@import url('https://fonts.googleapis.com/css2?family=Martel:wght@900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html {
      scroll-behavior: smooth;
    }

    body {
      font-family: 'Hind Siliguri', sans-serif;
      font-size: 17px;
      color: #838383;
      line-height: 1.6;
    }

    nav {
      width: 100%;
      height: 80px;
      position: sticky;
      top: 0;
      background-color: #00A0A3;
    }

    ul {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      list-style: none;
    }

    li {
      width: 150px;
    }

    li a {
      color: #fff;
      transition: .3s ease;
    }

    li a:hover {
      color: #00DDE0;
    }

    a {
      font-family: 'Hind Siliguri', sans-serif;
      text-decoration: none;
      color: #fff;
    }

    h1,
    h2,
    h3 {
      font-family: 'Martel', serif;
      font-weight: 900;
      color: #838383;
    }

    h1 {
      font-size: 80px;
      color: #fff;
      margin-bottom: 10px;
    }

    h2 {
      font-size: 40px;
      color: #00A0A3;
      margin-bottom: 20px;
    }

    h3 {
      font-size: 30px;
    }

    h4 {
      font-weight: 300;
      font-style: italic;
      color: #999; 
    }

    section {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .jumbotron {
      height: 100vh;
      background-color: #00A0A3;
    }

    .jumbotron-text {
      text-align: center;
    }

    .jumbotron-text p {
      font-size: 20px;
      color: #fff;
      margin-bottom: 20px;
    }

    .jumbotron-text button {
      font-size: 22px;
      padding: 10px 20px;
      border-radius: 3px;
      background-color: #00A0A3;
      border: 2px solid #fff;
      transition: background-color .5s ease;
    }

    .about-section {
      padding: 120px 0;
    }

    .about-text {
      width: 1080px;
      margin: 0 auto;
      text-align: center;
    }

    .about-text img {
      height: 200px;
      margin-bottom: 40px;
    }

    .about-text p {
      width: 90%;
      margin: 0 auto;
    }

    .partner-section {
      padding: 120px 0;
      background-color: #f9f9f9;
    }

    .partner-text {
      width: 1080px;
      margin: 0 auto;
      margin-bottom: 40px;
      text-align: center;
    }

    .partner-text p {
      width: 90%;
      margin: 0 auto;
    }

    .partner-columns {
      width: 1080px;
      display: flex;
      margin: 0 auto;
    }

    .partners {
      text-align: center;
    }

    .partners img {
      height: 250px;
      margin-bottom: 10px;
    }

    .partners h3 {
      color: #333;  
    }

    .partners p {
      padding: 16px;
    }

    .contact-section {
      padding: 120px 0;
    }

    .contact-text {
      width: 540px;
    }

    .contact-text h2 {
      text-align: center;
    }

    .contact-text input {
      width: 100%;
      color: #999;
      border: 1px solid #ddd;
      border-radius: 2px;
      padding: 12px 18px;
      font-size: 18px;
      margin-bottom: 8px;
    }

    .contact-text textarea {
      width: 100%;
      height: 200px;
      font-family: Arial, Helvetica, sans-serif;
      color: #999;
      border: 1px solid #ddd;
      border-radius: 2px;
      padding: 12px 18px;
      font-size: 18px;
      resize: none;
      margin-bottom: 8px;
    }

    .contact-text input:focus,
    .contact-text textarea:focus{
      outline: none;
    }

    .contact-text button {
      font-size: 18px;
      padding: 12px 18px;
      background-color: #00A0A3;
      border-radius: 3px;
      border: none;
      transition: .5s ease;
    }

    footer {
      background-color: #00A0A3;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .footer-text {
      width: 1080px;
      margin: 20px auto;
    }

    .footer-text h3 {
      color: #fff;
      font-size: 24px;
      margin-bottom: 20px;
    }

    button:hover {
      cursor: pointer;
      background-color: #00DDE0;
    }